<div class="container">
  <div class="card my-5">
    <div class="card-header">
      Bavard n°<%= @user.id %>
    </div>
    <div class="card-body py-2 row">
      <img src= <%= @user.image_url%> class="img-thumbnail col-sm-3">
      <div class="card-title col-sm-8 text-center">
        <br />
        <h1 class="py-2"><span class="text-warning">Nom :  </span><%= @user.first_name%> <%= @user.last_name%></h1>
        <h3 class="py-2"><span class="text-warning">Email :  </span><%= @user.email%><br><br>
        <span class="text-warning">Age :  </span><%= @user.age%></h3><br>
        <p><span class="text-warning">A propos de moi :  </span><%= @user.description%></p>
      </div>
    </div>
    <div class="card-footer text-muted">
      <%user_city = @user.city%>
      en direct de <%= link_to user_city.name, city_path(user_city.id), class:"text-warning"%> 
    </div>
  </div>

  <div>
    <h3 class="mb-3">Tout les potins de <%= @user.first_name%> : </h3>
    <% Gossip.where(user_id: @user.id).each do |gossip| %>
      <h5> <%= link_to gossip.title, gossip_path(gossip.id), class:"text-warning"%>
      <small class="ml-5"><%= gossip.likes.count() %> 
      <%if gossip.likes.count()>0%>
        <i class="fas fa-heart mr-3"></i> 
      <%else%>
        <i class="far fa-heart mr-3"></i>
      <%end%> 
      <%= gossip.comments.count() %> commentaire(s)</small>
      </h5>
     <% end %>
  </div>

</div>

