<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="jumbotron" style="background-image: url(https://previews.123rf.com/images/rukach/rukach1802/rukach180200159/95462540-r%C3%A9tro-style-pop-art-comic-style-book-panneau-potins-fille-chuchotant-dans-les-secrets-de-l-oreille-.jpg); background-size: 100%;">
  <h1 class="display-4" style="color: white">Bienvenue sur le gossip project!<br><br></h1>
  <p class="lead">Créer un nouveau potin</p>
    <%= link_to "Go", new_gossip_path, class:"btn btn-primary btn-block my-2"%>
  </p>
</div>

<div class="container-fluid">
  <div class="text-center">
   <h1 class="mb-5 ">Les derniers potins</h1>
  </div>
  <div class="row">
    <% Gossip.all.each do |gossip| %>
      <div class="col-l-3 col-md-4 col-sm-6">
        <div class="card border-warning mb-3" style="border-width: 3px;">
          <div class="card-body">
            <h5 class="card-title text-primary"><%= gossip.title %></h5>
            <p class="card-text"> de <%= link_to gossip.user.first_name, user_path(gossip.user.id) %></p>
            <p class="card-text">
            <% n = 0%>
            <%gossip.likes.each do |lg|%>
            <%if liked?(lg)%>
            <%n = 1%>
            <%end%>
            <%end%>
            <%if n==1%>
                <button type="submit" class="btn btn-outline-primary btn-like">
                  <i class= "fa fa-heart"></i> 
                  <%if gossip.likes.count()>0%>
                    <%= gossip.likes.count() %> 
                  <%end%> 
                </button>
            <%else %>
<!-- Bouton like  -->
              <%= form_tag url_for(:controller => "likes", :action => "create"), method: 'post' do %>
<!-- Input gossip.id caché -->
                <%= hidden_field_tag(:gossip_id, gossip.id) %>
<!-- Input value caché -->
                <%= hidden_field_tag(:liked, true) %>
<!-- Lance le like -->
                <button type="submit" class="btn btn-outline-primary btn-like">
                  <i class= "far fa-heart"></i> 
                  <%if gossip.likes.count()>0%>
                    <%= gossip.likes.count() %> 
                  <%end%> 
                </button>
              <%end%>
            <%end %>
            </p>
            <%if gossip.comments.count()>0%>
              <p class="card-text"><%= gossip.comments.count() %> commentaire(s)</p>
            <%end%>
          </div>
         <%= link_to "Voir", gossip_path(gossip.id), class:"btn btn-light"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
