<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "Accueil", gossips_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "L'équipe","team", class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "contact", class: "nav-link"%>
        </li>
    </ul>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sign In / Sign Up
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Sign Up", new_user_path, class: "dropdown-item"%>
        <%= link_to "Login", new_session_path, class: "dropdown-item"%>
      </div>
    </div>
  </nav>
</header>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur le gossip project!</h1>
  <p class="lead">Créer un nouveau potin</p>
    <%= link_to "Go", new_gossip_path, class:"btn btn-primary btn-block my-2"%>
  </p>
</div>

<div class="container-fluid">
  <div class="text-center">
   <h1 class="mb-5 ">Les derniers potins</h1>
  </div>
  <div class="row">
    <% Gossip.all.each do |gossip| %>
      <div class="col-l-3 col-md-4 col-sm-6">
        <div class="card border-warning mb-3" style="border-width: 3px;">
          <div class="card-body">
            <h5 class="card-title text-primary"><%= gossip.title %></h5>
            <p class="card-text"> de <%= link_to gossip.user.first_name, user_path(gossip.user.id) %><br><br>
            <%= gossip.comments.count() %> commentaire(s)
            </p>

          </div>
         <%= link_to "Voir", gossip_path(gossip.id), class:"btn btn-light"%>
        </div>
      </div>
    <% end %>
  </div>
</div>