<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <h1 class="my-3 text-center"> Ecrire un nouveau potin </h1>
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <div class="form-group mt-5">
    <%= label_tag 'Titre' %>
    <%= text_field_tag 'title', @gossip.title, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label_tag 'Potin' %>
    <%= text_area_tag 'content', @gossip.content, {class: 'form-control'} %>
  </div> <br />
  <%= submit_tag "Envoyer", {class:'btn btn-primary'}%>
<% end %>
</div>

