<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div class="card mt-5 mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
      Gossip n°<%= @gossip.id %> 
      <h6 class= "align-items-center">
        <i class="far fa-heart"></i>
      <%if @gossip.likes.count()>0%>
        <%= @gossip.likes.count() %></h6>
      <%end%>
    </div>
    <div class="card-body pt-5">
      <div class="card-title text-center">
        <h2 class="font-weight-bold"><%= @gossip.title%>
        <small> by 
        <a href="/users/<%= @gossip.user.id %>" class="text-warning"><%= @gossip.user.first_name%> <%= @gossip.user.last_name%></a>
         <em class="small">(from <%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id)%>)</em>
        </small></h2>
      </div> 
      <h4 class="card-text pt-5 px-2"><%= @gossip.content%></h4>    
    </div>
    <div class="card-footer text-muted card-body d-flex justify-content-between">
      <div class="font-weight-bold"> publié le <%= @gossip.created_at.strftime("%d/%m/%Y") %></div>
    <% if current_user?(@gossip.user) %>
      <div> <%= link_to "Modifier", edit_gossip_path, class:"btn btn-outline-info"%>
      <%= link_to "Supprimer", gossip_path, class:"btn btn-outline-danger", data: { confirm: "Êtes-vous sûr de vouloir supprimer le potin?" }, method: :delete%>
      </div>
    <%end%>
    </div>
  </div>

  <div >
    <%= form_tag url_for(:controller => "comments", action: 'create'), method: "post" do %>
      <div class="form-group row mt-3">
        <h3 class= 'col-sm-2 col-form-label ml-3'><%= label_tag 'Commenter'%></h3>
        <%= text_area_tag 'content', @comment.content, {class: 'form-control col-sm-8'} %>
        <%= submit_tag "Envoyer", {class:'btn btn-outline-primary col-sm-1 ml-5'}%>
        <%= hidden_field_tag(:gossip_id, @gossip.id) %>
      </div> 
    <% end %>
  </div>

  <div class="my-4 ml-3">
    <h4 class="mr-5"> Commentaires</h4>
    <% Comment.where(gossip_id: @gossip.id).each do |comment| %>
      <div class="card mb-2">
        <div class='card-body d-flex justify-content-between'>
          <div class="card-text"> <%= comment.user.first_name%>: <%= comment.content%></div>
          <%if current_user?(comment.user) %>
            <div class="btn-group btn-group-sm" role="group" aria-label="Edit">
              <%= link_to "Edit", edit_comment_path(comment.id), class:"btn btn-outline-info"%>
            </div>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
